@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@500&family=Pacifico&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Gothic&family=Orbitron:wght@500&family=Pacifico&family=Smooch&display=swap');


body{
    font-family:'League Gothic', sans-serif;
    padding: 0;
    background-color: white;


}

.remover{
    display: none;
   
}

.mudarCor{
    background-color: black;
    
}
h1{
    padding: 5px;
    bottom: 1px;
  
}
.header{
    display:flex;
    align-items:center;
    align-content: center;
    justify-content: right;
    height: 100px;
    font-size: 20px;
    background-color: #005f73;
   
}

.header--navBar-a{
    padding-left: 30px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    

}
.header--navBar-a-img{
    width: 35px;
    height: 35px;
    margin-top: 12px;
    position: relative;
    top: 7px;
}
.alinharContainer{
    display:flex;
    
}
main {
    display: flex;
    flex-direction: column;
    height: 140px;
    background-color: #005f73;
    border: 4px solid goldenrod;
    margin-top: 6px;
    margin-left: 5px;
    border-radius: 20px;
    color:white;
    box-sizing: content-box;
    
}
.main__content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.main__content--relogio{
     width: 240px;
    padding-bottom: 10px;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-text-size-adjust:100%;
    -webkit-box-sizing:border-box;
    text-align: center;
}

.main__content--titlle{
    text-align: center;
}
.boxLeft{
    display:flex;
    width: 70px;
    height: 190vh;
    background-color: #ffe5d9;
}

.boxLeft__content{
    display:flex;
    flex-direction: column;
    align-items: center; 
    
}

.boxLeft__content--li{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:70px;
    height: 70px;
    padding-top: 15px;
    
    
}
.boxLeft__content--li:hover{
    background-color: #495057;
}

.boxLeft__content--img{
    width:50px;
    height: 50px;
    padding-bottom: 10px;
    
    
}
.boxLeft__content--a{
    
    font-size: 20px;
    padding: 50px  0 0;
    position: absolute;
    text-align: center;
    background-image: linear-gradient(to right, #00B4DB,#0083B0);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    
}
.la{
    background-image: linear-gradient(to right, #f12711,#f5af19)
}

.main__content__OutrosTimes{
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    margin-top: 80px;
    width: 220px;
    height: 160vh;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 4px solid goldenrod;
    background-color: #005f73;
    
}

.geralButton {
    border: none;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #90be6d;
}
.main__button-cronometro{
    padding-bottom: 15px;
    margin: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #90be6d;
}
.alinharButton{
    display: flex;
}
.geralButton:hover{
    background-color: #aacc00;
}

.main__button-cronometro:hover{
    background-color: #aacc00;
}

.main__content__OutrosTimes--li{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 170px;
    height: 120px;
    margin: 10px;
    border-radius: 15px;
    
    background-color: black;
}


.main__content__OutroTimes-span-cidade{
    text-align: center;
    font-size: 25px;
    
}
.main__content__OutroTimes-span-cidade::after{
    content: '';
    display: block;
    width: 150px;
    border-bottom: 2px solid white;
    
    
}

.icon{
    margin-left: 0;
}

.clock-li{
    position: relative;
    right: 28px;
    text-align: center;
    width: 100px;
    padding: 5px;
    font-size: 28px;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-text-size-adjust:100%;
    -webkit-box-sizing:border-box;
    text-align: center;
}
.mudarContent{
    background-color: black;
    border: 4px solid goldenrod;
    color: gold;
}
.mudarCorBox{
    background-color: #023047;
    
}

.mudarCorOutrosTimes{
    background-color: black;
    color:gold;
}
.clock{
    font-family: 'Orbitron', sans-serif;
}

.contentFeriados{
       
    top: 35px;
    width: 73%;
    height: 110vh;
    border-radius: 20px;
    background-color: #005f73;
    color: white;
    z-index: 2;
    position: absolute;
    overflow: auto;

    }
.itensFeriado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gold;
    border-radius: 6px solid;
    padding: 20px;
    margin-top: 30px;
    
    

}
.itensFeriado__tittle{
    text-align: center;
    color:#aacc00;
}

.buttonPopUp{
    position: relative;
    margin-top: 5px;
    width: 30px;
    bottom:11vh;
    left: 64vw;
    padding: 2px;
    border-radius: 50%;
    border:none;
    background-color: white;
    color: black;
    z-index: 3;
    font-size: 20px;
    cursor: pointer;
    text-align: center;

}


@media (min-width: 420px){
    main{
        width:70%;
    }
    .main__content__OutrosTimes {
     
        width: 100%;
    }
}

@media(min-width: 768px){
    main{
        width:90%;
    }
    .main__content__OutrosTimes {
     
        width: 100%;
    }
 
    
}
@media (min-width: 1440px){
    body{
        font-family:'League Gothic', sans-serif;
        padding: 0;
        height: 100%;
        background-color: white;
    
    
    }
    .mudarCor{
        background-color: black;
        
    
    }
    h1{
        padding: 30px;
        bottom: 1px;
        position: relative;
    }
    .header{
        display:flex;
        align-items:center;
        align-content: center;
        justify-content: right;
        height: 100px;
        font-size: 25px;
        background-color: #005f73;
       
    }
    
    .header--navBar-a{
        padding-left: 40px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        
    
    }
    .header--navBar-a-img{
        width: 40px;
        height: 40px;
        margin-top: 12px;
        position: relative;
        top: 7px;
    }
    .alinharContainer{
        display:flex;
        
    }
    main {
        height: 540px;
        width: 100%;
        background-color: #005f73;
        border: 4px solid goldenrod;
        margin: 40px;
        border-radius: 20px;
        color:white;
        
    }
    .main__content{
        display:flex;
        flex-direction: column;
        align-items: center;
        font-size: 60px;
    }
    
    
 
    .boxLeft{
        display:block;
        position: relative;
        
        width: 155px;
        height: 100vh;
        
        background-color: #ffe5d9;
    }
    
    .boxLeft__content{
        display:flex;
        flex-direction: column;
        align-items: center; 
        
    }
    .main__content--relogio{
        font-size: 80px;
        position:relative;
        right:80px;
        
    }
    .boxLeft__content--li{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:140px;
        height: 100px;
        padding-left: 10px;
        padding-top: 15px;
        
        
    }
    .boxLeft__content--li:hover{
        background-color: #495057;
    }
    
    .boxLeft__content--img{
        width:70px;
        height: 70px;
        padding-bottom: 10px;
        
        
    }
    .boxLeft__content--a{
        
        font-size: 20px;
        padding: 80px  14px 0;
        position: absolute;
        text-align: center;
        background-image: linear-gradient(to right, #00B4DB,#0083B0);
        background-clip: text;
        -webkit-background-clip: text;
        color:transparent;
        
    }
    .la{
        background-image: linear-gradient(to right, #f12711,#f5af19)
    }
    
    .main__content__OutrosTimes{
        display:flex;
        flex-wrap: wrap;
        align-content: flex-start;
        height: 680px;
        margin-top: 356px;
        margin-bottom: 10px;
        border-radius: 30px;
        
        background-color: #005f73;
        
    }
    
    .geralButton {
        border: none;
        padding: 30px;
        margin: 20px;
        border-radius: 20px;
        font-size: 20px;
        cursor: pointer;
        background-color: #90be6d;
    }
    .main__button-cronometro{
        padding: 0;
        width: 150px;
        height: 60px;
        text-align: center;
        border: none;
        font-size: 20px;
        cursor: pointer;
        background-color: #90be6d;
        
    }
  
    .main__content__OutrosTimes--li{
      
        width: 210px;
        height: 120px;
        margin: 10px;
        border-radius: 15px;
        
        background-color: black;
    }

    .clock-li{
        text-align: center;
        padding: 5px;
        font-size: 28px;
        position: relative;
        right: 27px;
    }
   
    #textCrono{
        position: relative;
        left: 10px;
    }
    .buttonPopUp{
        bottom: 8.4vh;
        left: 71vw;
    }
  
    .contentFeriados{

    }
  
    
}
