@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@500&family=Pacifico&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Gothic&family=Orbitron:wght@500&family=Pacifico&family=Smooch&display=swap');
body{
    font-family:'League Gothic', sans-serif;
    padding: 0;
    height: 100%;
    background-color: white;


}
.mudarCor{
    background-color: black;
    

}
h1{
    padding: 30px;
    bottom: 1px;
    position: relative;
}
.header{
    display:flex;
    align-items:center;
    align-content: center;
    justify-content: right;
    height: 100px;
    font-size: 25px;
    background-color: #005f73;
   
}

.header--navBar-a{
    padding-left: 40px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    

}
.header--navBar-a-img{
    width: 40px;
    height: 40px;
    margin-top: 12px;
    position: relative;
    top: 7px;
}
.alinharContainer{
    display:flex;
    
}
main {
    height: 540px;
    width: 100%;
    background-color: #005f73;
    border: 4px solid goldenrod;
    margin: 40px;
    border-radius: 20px;
    color:white;
    
}
.main__content{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
}

.main__content--relogio{
    padding-bottom: 60px;
    transition: 0.8;
}

.boxLeft{
    display:block;
    position: relative;
    
    width: 155px;
    height: 100vh;
    
    background-color: #ffe5d9;
}

.boxLeft__content{
    display:flex;
    flex-direction: column;
    align-items: center; 
    
}
.main__content--relogio{
    font-size: 100px;
}
.boxLeft__content--li{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:140px;
    height: 100px;
    padding-left: 10px;
    padding-top: 15px;
    
    
}
.boxLeft__content--li:hover{
    background-color: #495057;
}

.boxLeft__content--img{
    width:70px;
    height: 70px;
    padding-bottom: 10px;
    
    
}
.boxLeft__content--a{
    
    font-size: 20px;
    padding: 80px  14px 0;
    position: absolute;
    text-align: center;
    background-image: linear-gradient(to right, #00B4DB,#0083B0);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    
}
.la{
    background-image: linear-gradient(to right, #f12711,#f5af19)
}

.main__content__OutrosTimes{
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 680px;
    margin-top: 306px;
    margin-bottom: 10px;
    border-radius: 30px;
    
    background-color: #005f73;
    
}

.geralButton {
    border: none;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #90be6d;
}
.main__button-cronometro{
    width: 150px;
    height: 60px;
    margin: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #90be6d;
}
.alinharButton{
    display: flex;
}
.geralButton:hover{
    background-color: #aacc00;
}

.main__button-cronometro:hover{
    background-color: #aacc00;
}

.main__content__OutrosTimes--li{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: 15px;
    border-radius: 30px;
    
    background-color: black;
}

.remover{
    display:none;
}

.main__content__OutroTimes-span-cidade{
    font-size: 18px;
    text-align: left;
    margin-left: 30px;
    
    font-size: 20px;
    
}
.main__content__OutroTimes-span-cidade::after{
    content: '';
    display: block;
    width: 150px;
    margin-right: 20px;
    border-bottom: 2px solid white;
    
    
}

.icon{
    margin-left: 0;
}

.clock-li{
    text-align: center;
    font-size: 30px;
}
.mudarContent{
    background-color: black;
    border: 4px solid goldenrod;
    color: gold;
}
.mudarCorBox{
    background-color: #023047;
    
}

.mudarCorOutrosTimes{
    background-color: black;
    color:gold;
}
.clock{
    font-family: 'Orbitron', sans-serif;
}